html {
  overflow-x: hidden;
  overflow-y: auto;
}
form {
    float: inherit;
    margin-top : 40px;
    margin-bottom : 40px;
    background-color:white;
}
table {
    float: inherit;
}
.helloDiv{
    float: inherit;
}
#submitAllForms{
    float: inherit;
    clear: both;
}
.serverResponse{
    width: 100%;
    height: 55px;
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
#loginResponse{
    float : inherit;
    clear: both;
    margin-top: 20px;
}
.searchReportTab tr{
    text-align: center;
    cursor:pointer;
}
.searchReportTab tr:nth-child(even) {
    background: #CCC;
}
.searchReportTab tr:nth-child(odd) {
    background: #a3a3a3;
}
.searchReportTab thead td, .searchResultTab td:first-child {
    background: #9a9a9a;
    color:white;
    text-align: center;
}
.searchReportTab td{
    color:black;
}
.searchReportTab{
    border-spacing: 0px;
    width:100%;
}
.searchReportTab thead td, .searchReportTab td:first-child {
    background: #9a9a9a;
    color:white;
    text-align: center;
}
.searchResultTab tr{
    text-align: center;
    cursor:pointer;
}
.searchResultTab tr:nth-child(even) {
    background: #CCC;
}
.searchResultTab tr:nth-child(odd) {
    background: #a3a3a3;
}
.searchResultTab tr:hover{
    background: #5c8cb4;
}
.searchResultTab tr:active{
    background: #355875;
}
.searchResultTab thead td, .searchResultTab td:first-child {
    background: #9a9a9a;
    color:white;
    text-align: center;
}
.searchResultTab td{
    display: none;
    color:black;
}
.searchResultTab td:nth-child(0),.searchResultTab td:nth-child(1),.searchResultTab td:nth-child(2),.searchResultTab td:nth-child(3),.searchResultTab td:nth-child(5), .searchResultTab td:nth-child(6), .searchResultTab td:nth-child(10), .searchResultTab td:nth-child(15){
    display: table-cell;
}
.searchResultTab tbody td{
    width:115px;
}
.searchResultTab thead td{
    width:110px;
}
.searchResultTab{
    border-spacing: 0px;
    width:70%;
}
.editDataForm{
    margin-top:0px;
    margin-bottom: 0px;
    border-spacing: 10px 0;
}
#mainSearchData{
    width:30%;
}
.scrollerTable{
    height:400px;
    overflow-x: hidden;
    overflow-y: scroll;
    float: inherit;
}
.mainSearchForm{
    padding:20px;
}
html, body{
    float: inherit;
    width:100%;
    background-color: #c0c0c0;
}
.mainMenu{
    float: inherit;
    clear:both;
    width: 100%;
    table-layout: fixed;
}
#noDataMessage{
    line-height: 380px;
    font-size: 60px;
    color:black;
    text-shadow: 2px 2px 5px white;
}
.errorRes{
    float: inherit;
    margin-left: 125px;
    margin-right: 125px;
}
.loggerRes{
    float: inherit;
    clear:both;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}
#loggerOpen{
    color:blue;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.mainMenu .menuItem{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: #9a9a9a;
    float: inherit;
    border: 2px solid rgb(167, 179, 238);
    width: 33.33%;
    box-sizing: border-box;
    height:25px;
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}
#loginCont{
    width:250px;
    position: relative;
    margin: 0 auto;
    top:60px;
}
#loginHeaderLogo{
    width:60%;
    position: relative;
    margin: 0 auto;
}
#Logos{
    background: #8bb0f5;
    width: 100%;
    float: right;
    box-shadow: 6px 7px 15px black;
}
*:focus {
    outline: none;
}
input[type="submit"],input[type="button"]{
    outline: medium none;
    border: 1px solid #329ECC !important;
    opacity: 0.9;
    -khtml-opacity: .9;
    -moz-opacity: 0.9;
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    display: inline-block;
    padding: 5px 10px;
    color: #777 !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    font-family: Tahoma, Arial, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc !important;
    background: #fff url("../images/btn-overlay.png") repeat-x !important;
}
#loadOverLay{
  background: #1F1F1F;
  opacity: 0.5;
  position:absolute;
  width:100%;
  height:100%;
  z-index:1000000;
  display: none;
}
.loadSymbol{
  top: 30%;
  position:relative;
  margin:0 auto;
  width:64px;
  height:64px;
  background: #fff url("images/load.gif") repeat-x !important;
}
.closeMark{
  float: inherit;
  cursor: pointer;
  width:45px;
  height:45px;
  background: #fff url("images/x_transparent_icon.png") repeat-x !important;
}
input[type="submit"]:active,input[type="button"]:active{
    background: #CCC url("../images/btn-overlay.png") repeat-x !important;
}
input[type="submit"]:hover,input[type="button"]:hover{
    box-shadow: 1px 1px 5px black;
}
.adminForms{
    display: none;
}
input[type="text"],input[type="password"],input[type="month"], input[type="number"],input[type="email"],input[type="file"], textarea, select
{
    border-style: outset
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
            0 0 16px rgba(125, 125, 125, 0.5); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
            0 0 16px rgba(164, 164, 164, 0.5); 
    box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
        0 0 16px rgba(164, 164, 164, 0.5); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[disabled="disabled"],input[readonly="readonly"]{
    background: rgba(228, 228, 228, 0.5) !important;
    cursor: default;
}
select{
    border: 1px inset;
    background: rgba(255,255,255,0.5);
}
.mainMenu .menuItem:hover{
    text-shadow: 1px 1px 1px red;
    background: #606060;
}
.mainMenu .menuItem:active{
    text-shadow: 1px 1px 1px rgb(167, 179, 238);
    background: #d3d3d3;
    color:black;
}
.activeMenu{
    text-shadow: 1px 1px 1px rgb(167, 179, 238) !important;
    background: #d3d3d3 !important;
    color:black !important;
}
.mainCont{
    width: 100%;
    height: 100%;
    float: inherit;
    background-color:white;
}
form[name="Login"]{
    position: relative;
    margin: 0 auto;
    box-shadow: 6px 7px 15px black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.loginBox{
    position:relative;
    margin:0 auto;
    width:250px;
    display: inline-block;
}
#updateLingo{
    display: none;
}
.ajaxCont{
    position: absolute;
    display: none;
     border-style: outset
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
            0 0 16px rgba(125, 125, 125, 0.5); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
            0 0 16px rgba(164, 164, 164, 0.5); 
    box-shadow: 
      inset 0 0 8px  rgba(164, 164, 164, 1),
        0 0 16px rgba(164, 164, 164, 0.5); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 10000; 
    right: 10%;
    top: 10%;
    width: 80%;
}